<!DOCTYPE html>
<html>
    <head>
        <title>HelloToken</title>
        <script type="text/javascript" src="node/jquery/dist/jquery.min.js"></script>
    </head>
    <body>
        <h1>well we're getting served at least</h1>
    </body>
</html>
